html,
body {
  color: white;
  background-color: #21232a;
  font-family: "Nunito", Courier, monospace;
  font-size: 1.3rem;
  padding: 70px;
}

button {
  font-size: 1.3rem;
  margin-right: 10px;
  font-family: "Nunito", Courier, monospace;
  font-weight: bold;
  color: rgb(233, 161, 179);
}
